{% extends 'base.html' %}

{% block content %}

<h1>About Us</h1>
<p>We are a group of undergraduate students in the Informatics Program at the University of Washington
    who are interested in Software Engineering. When looking at the hospitality industry, one area that
    we thought severly lacked intuitive tools was the Tour Guide industry. A common experience we all
    had was feeling extremly lost when traveling and overwhelmed with the amount of research one has to
    do before traveling so that they know what to see, what to eat, how to use public transportation,
    etc. To solve this we came up with Tour Guide; this web application aims to match local tour guides
    who are experts on their cities with visitors who are eager to learn and explore the city with their
    guide. With this application, we hope that visitors can get a more authentic experience when traveling
    and help them connect with local people who would be eager to show them around and make sure they have 
    the best possible experience in their city!
</p>

{% endblock %}