{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

<h1>Tour Guide</h1>
<p>Welcome to Tour Guide! With this application, we aim to match you up with your 
    perfect tour guide no matter your destination. With a Guide, you no longer have
    to worry about mapping our your every move and researching weeks in advance of 
    your trip just to know what there is to do in the city you are visiting. Just 
    sign in below or if your new here, register by pressing the register tab in the 
    top right hand corner.</p>

<form action="auth/signin" method="get">
    <input type="submit" value="Sign In">
</form>
<form action="auth/register" method="get">
    <input type="submit" value="Register">
</form>

{% endblock %}