{% extends 'base.html' %}

{% block title %} Profile Page {% endblock %}

{% block content %}
<h2>User Profile</h2>
<h4>User: {{ visitor.user }}</h4>
<h4>Description: {{ visitor.description }}</h4>
<h4>Sex: 
    {% if visitor.sex == 'M' %}
        Male
    {% endif %}
    {% if visitor.sex == 'F' %}
        Female
    {% endif %}
    {% if visitor.sex == 'O' %}
        Other
    {% endif %}</h4>
    {% for booking in bookingObj %}
    <h4>Bookings</h4>
    <ul> 
        <li>Guest: {{visitor.user}}</li>
        <li>Tour: {{booking.tour}}</li>
        <li>Tour Type: {{booking.tourType.name}}</li>
        <li>City: {{booking.city}}</li>
        <li>Description: {{booking.description}}</li>
        <li>Days: {{booking.days}}</li>
        <li>Price: {{booking.price}}</li>
    </ul>

    {% endfor %}
{% endblock %}

