{% extends 'base.html' %}

{% block title %} Profile Page {% endblock %}

{% block content %}

<h2>Visitor Profile</h2>
<h4>User: {{ visitor.user }}</h4>
<h4>
    Sex: 
    {% if visitor.gender == 'M' %}
        Male
    {% elif visitor.gender == 'F' %}
        Female
    {% elif visitor.gender == 'O' %}
        Other
    {% else %}
        N/A
    {% endif %}
</h4>
<h4>Guide Bio: {{ guideBio }}</h4>
<h4>Bookings</h4>
{% if bookingObj|length %}
    {% for booking in bookingObj %}
    <ul> 
        <li>Guest: {{visitor.user}}</li>
        <li>Tour: {{booking.tour}}</li>
        <li>Tour Type: {{booking.tourType.name}}</li>
        <li>City: {{booking.city}}</li>
        <li>Description: {{booking.description}}</li>
        <li>Days: {{booking.days}}</li>
        <li>Price: {{booking.price}}</li>
    </ul>
    {% endfor %}
{% else %}
<p>No bookings found.</p>
{% endif %}
{% endblock %}

