{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}

<h1>Reviews for {{ subject }} </h1>
<div class="card-deck">
    {% for review in reviews %}
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h5 class="card-title">{{review.title}}</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Written by {{review.user.username}}</h6>
            <p class="card-text">{{review.content}}</p>
            {% for i in review.stars %}
                <i class="fa fa-star" aria-hidden="true"></i>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    
</div>

{% endblock %}