{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}
<h1>Saved</h1>
{% if saved|length %}
<ul>
    {% for st in saved %}
    <li style="background-color:lightblue">
        <p>
            <strong>Guide</strong>: {{ st.tour__guide__first_name }} {{ st.tour__guide__last_name }}, 
            {{ st.tour__guide__gender }}, {{ st.tour__guide__email }}
            <br><strong>City</strong>: {{ st.tour__city__name }}
            <br><strong>Description</strong>: {{ st.tour__description }}
            <br><strong>Duration</strong>: {{ st.tour__days }} days
            <br><strong>Price</strong>: ${{ st.tour__price }}
        </p>
        <form action="/saved/" method="post">
            {% csrf_token %}
            <input type="hidden" name="tour_id" value="{{ st.tour_id }}">
            <input type="submit" value="Unsave">
        </form>
        <br>
        <form action="/request/{{ st.tour_id }}/" method="get">
            <input type="submit" value="Request">
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Nothing saved.</p>
{% endif %}

{% endblock %}