{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block content %}
<h1>Search Page</h1>
<form action="/search/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
{% if search_results|length %}
<br>
<h2>Results</h2>
<ul>
    {% for t in search_results %}
    <li style="background-color:lightblue">
        <p>
            <strong>Guide</strong>: {{ t.guide__first_name }} {{ t.guide__last_name }}, {{ t.guide__gender }},
            {{ t.guide__email }}
            <br><strong>Description</strong>: {{ t.description }}
            <br><strong>Duration</strong>: {{ t.days }} days
            <br><strong>Price</strong>: ${{ t.price }}
        </p>
        <form action="/saved/" method="post">
            {% csrf_token %}
            <input type="hidden" name="tour_id" value="{{ t.id }}">
            {% if t.id in saved %}
                <input type="submit" value="Unsave">
            {% else %}
                <input type="submit" value="Save">
            {% endif %}
        </form>
        <br>
        <form action="/request/{{ t.id }}/" method="get">
            <input type="submit" value="Request">
        </form>
    </li>
    {% endfor %}
</ul>
{% elif search_results is not None %}
<p>No results found.</p>
{% endif %}

{% endblock %}